body {
    font-family: Arial;
    background: #f3f3f3;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    background: #ddd;
}


.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal img {
    width: 70%;
    border-radius: 8px;
}

#closeBtn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    cursor: pointer;
    font-size: 30px;
}
